# Miris Viewer Key configuration
# Use this to set the Miris Compositor to use your own assets
# VITE_MIRIS_VIEWER_KEY=replace-with-your-viewer-key

# Use this to define viewer key groups for environments
# VITE_MIRIS_VIEWER_KEYS='[{"group-a": "key-a"}, {"group-b": "key-b"}]'

# Miris Player public key
# Use this to see the demo Tokyo Market Scene
VITE_MIRIS_VIEWER_KEY=4YIGMPUj5-fL8n0jkp1kQpJktss_UaBDMW9jwJb08f4
